body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(160, 226, 190);
}
#header {
    text-align: center;
}

#input-container {
    height: 300px;
    width: 50%;
    background-color: grey;
    margin: 0 auto 0 auto;
}

#input {
    height: 30px;
    width: 80%;
}

.inside-input-container {
    position: relative;
    left: 10%;
    top: 5%;
    margin-bottom: 5px;
    display: block;
}